@media only screen and (max-width: 600px) {
    .navbar> .container-fluid {
        flex-wrap: nowrap;
    }
    .card {
        margin: auto;
        margin-bottom: 10px;
    }
  }
.navbar {
    background-color: #FFFF !important;
}
.modal-backdrop {
    width: 100%;
    height: 100vh;
    background-color: #000;
    backdrop-filter: blur(10px);
}
.logo {
    width: 20%;
}
.banner {
    background-image: url('/imagens/banner.png');
    background-size: cover;
    background-position: center center;
    height: 400px;
    justify-content: center;
    align-align: center;
    position: relative;
}
h2.description {
    text-align: center;
    color: #391208;
    position: absolute;
    margin: auto;
    top: 50%;
    opacity: 0.5;
    width: 100%;
    background-color: #fafafa;
}
section.produtos {
    background: rgb(6,153,74);
    background: linear-gradient(63deg, rgba(6,153,74,0.9318102240896359) 47%, rgba(20,108,171,1) 100%);
}
hr {
    margin-top: 0px;

}
.card-img-top {
    width: 80px;
    margin: auto;
}
.lata1 {
    width: 85px;
}
.lata2 {
    width: 73px;
}
.lata3 {
    width: 73px;
}
